<%= div_for comment do %>
     <p>
       <strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br />
       <%= h(comment.body) %>
       <td><%= link_to 'Show', post_comment_path(@post,comment) %></td>
       <td><%= link_to 'Edit', edit_post_comment_path(@post,comment) %></td>
       <td><%= link_to 'Destroy', post_comment_path(@post,comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
     </p>
<% end %>