<h1>Listing comments</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.post_id %></td>
        <td><%= comment.body %></td>
		<td><%= link_to 'Show', post_comment_path(@post,comment) %></td>
        <td><%= link_to 'Edit', edit_post_comment_path(@post,comment) %></td>
        <td><%= link_to 'Destroy', post_comment_path(@post,comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', post_path(@post) %>

<% flash[:from] = request.env['PATH_INFO'] %>
